/* colors */

:root {
    --dark: #090B0B;
    --light: #E6E2DA;
    --orange: #DB7A39;
    --blue: #004FFA;
    --blue2: #5E86C8;
    --green1: #76996A;
    --green2: #053D38; /*????*/

}

/* page config */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--light);
}


header{
    height: 150px;
    width: 100%;
}


header figure img{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}


div {
    display: flex;
    justify-content: space-around;

}

button{
    border-style: none;
    width: 240px;
    height: auto;
    margin-top: 85px;
    font-size:x-large;
    color: var(--dark);
    justify-content: space-between;
    background-color: var(--light);
}

section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size:500%;
    color: var(--orange);
}

p{
    font-size: x-large;
    color: var(--dark);
}